.container {
  height: 100vh;
  width: 100vw;
  max-height: 800px;
  max-width: 1280px;
  min-height: 600px;
  min-width: 1000px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 0 auto;
}
.border {
  height: 369px;
  width: 290px;
  background: transparent;
  border-radius: 10px;
  transition: border 1s;
  position: relative;
}
.border:hover {
  border: 2px solid #fff;
}
.card {
  height: 379px;
  width: 300px;
  background: #808080;
  border-radius: 10px;
  transition: background 0.8s;
  overflow: hidden;
  background: #000;
  box-shadow: 0 70px 63px -60px #000;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
.card0 {
  background: url("https://i.ibb.co/9c0L73r/8f4bcf41a974fd222ba6089cbdd6b776.jpg") center center no-repeat;
  background-size: 300px;
}
.card0:hover {
  background: url("https://i.ibb.co/9c0L73r/8f4bcf41a974fd222ba6089cbdd6b776.jpg") left center no-repeat;
  background-size: 600px;
}
.card0:hover p {
  opacity: 1;
}
.card0:hover h2 {
  opacity: 1;
}
.card0:hover .fa {
  opacity: 1;
}
.card1 {
  background: url("https://i.pinimg.com/originals/3e/63/a9/3e63a9a91c651664c0369eedb5de2529.png") center center no-repeat;
  background-size: 300px;
}
.card1:hover {
  background: url("https://i.pinimg.com/originals/3e/63/a9/3e63a9a91c651664c0369eedb5de2529.png") left center no-repeat;
  background-size: 600px;
}
.card1:hover p {
  opacity: 1;
}
.card1:hover h2 {
  opacity: 1;
}
.card1:hover .fa {
  opacity: 1;
}
.card2 {
  background: url("https://i.ibb.co/4pmHYtk/743eda8a-bd54-4a44-8f0c-04289d157f5e-transformed.jpg") center center no-repeat;
  background-size: 357px;
}
.card2:hover {
  background: url("https://i.ibb.co/4pmHYtk/743eda8a-bd54-4a44-8f0c-04289d157f5e-transformed.jpg") left center no-repeat;
  background-size: 600px;
}
.card2:hover p {
  opacity: 1;
}
.card2:hover h2 {
  opacity: 1;
}
.fa {
  opacity: 1;
}
p {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  justify-content: center;
  color: #fff;
  margin-left: 20px;
  margin-bottom: 10px;
  opacity: 0;
  transition: opacity 1s;
  font-weight: bold;
}
h2 {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  color: #fff;
  margin: 20px;
  opacity: 0;
  transition: opacity 1s;
}
.fa {
  opacity: 0;
  transition: opacity 1s;
}
/*.icons
  position: absolute
  fill: #fff
  color: #fff
  height: 130px
  top: 226px
  width: 50px
  display: flex
  flex-direction: column
  align-items: center
  justify-content: space-around*/